<div class="col-md-12 mealDetailsWrapper">

	<!-- ng-controller="mdCtrl" -->

	<section class="mealDetails">
		
		<h3 class="mdTitle">Enter the Meal Details</h3>

		<form name="mdForm" novalidate ng-submit="submit()" class="mdForm">

			<div ng-repeat="(name,input) in inputs | orderObjectBy:'index'">

				<label for="{{ name }}">{{ input.label }}</label>

				<input name="{{ name }}" type="number" ng-model="input.value" ng-required="true">

			</div>

			<input class="options mdSubmit" type="submit" name="submit" value="Submit">

		</form>

		<button class="options mdCancel" ng-click="init()">cancel</button>

		<p class="errorMessage" ng-if="submitted && mdForm.$invalid">Please make sure all fields are filled in with numbers</p>

	</section>

	<section class="customerCharges" ng-controller="ccCtrl">
		
		<h3>Customer Charges</h3>

		<p>SubTotal: {{ inputs.subTotal || 0 | currency }}</p>

		<p>Tip: {{ inputs.tip || 0 | currency }}</p>

		<p>Total: {{ inputs.total || 0 | currency }}</p>

	</section>
	
</div>