.mealDetails{
	border: 1px solid black;
	padding: 10px;
}

.customerCharges{
	border: 1px solid black;
	padding: 10px;
	margin-bottom: 30px;
}

.earningsInfo{
	border: 1px solid black;
	padding: 10px;
}